[Unit]
Description=router settings
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/user/Downloads/zte-mf275r-interface/index.mjs
WorkingDirectory=/home/user/Downloads/zte-mf275r-interface
Restart=on-failure
RestartSec=2
Environment=NODE_ENV=production

[Install]
WantedBy=default.target
